.header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  padding: 10px 15px;
  background: var(--primary-color);
  color: var(--primary-text-color);
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 17px;
  text-transform: uppercase;
}

.flightHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-left: 126px;
  @media (max-width: 600px) {
    margin-left: 0;
  }

  &__from {
    display: flex;
    flex-direction: column;
  }

  &__divider {
    display: flex;
    flex-direction: column;
  }

  &__to {
    display: flex;
    flex-direction: column;
  }

  &__place {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    @media (max-width: 600px) {
      display: none;
    }
    &__mobile {
      display: none;
      margin: 0;

      @media (max-width: 600px) {
        display: block;
      }
    }
  }

  &__note {
    font-size: 10px;
    text-transform: uppercase;
  }
}
