@import '../../styles/variables.scss';

.FlightInfo {
  padding: 0 0 15px;
  color: var(--dark-text-color);
  display: flex;
  align-items: flex-start;

  &__before {
    border-top: 1px dashed;
    padding-top: $base-padding;
    margin-top: 15px;
  }

  &_infoDate {
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    background: var(--primary-background-color);
    border: 2px solid var(--secondary-border-color);
    border-radius: $base-border-radius;
    color: var(--dark-text-color);

    &__month {
      display: block;
      width: 100%;
      padding: 3px 6px;
      font-size: 13px;
      background: var(--secondary-background-color);
    }

    &__day {
      display: block;
      padding: 3px 6px;
      font-size: 18px;
      font-weight: 700;
    }
  }

  &_infoText {
    margin: 0 0 5px;
  }
}
