.SideBar {
  width: 230px;
  position: sticky;
  top: 80px;

  &_wrapper {
    margin: 0 0 20px;
    background: var(--primary-background-color);
    border-top: 1px solid #C1C1C1;
  }

  &_header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 15px;

    &__title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      color: var(--dark-text-color);
    }

    &__total {
      font-size: 14px;
      font-weight: 700;
      color: var(--primary-color);
    }
  }

  &_body {
    padding: 15px;
    color: #919191;
    font-weight: 700;
    font-size: 16px;
  }

  &_footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: var(--primary-color);
    color: var(--light-color);
  }

  &_infoDate {
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    border: 2px solid #e1e1e1;
    border-radius: 3px;
    color: #343434;

    &__month {
      display: block;
      width: 100%;
      padding: 3px 6px;
      font-size: 13px;
      background: #f2f2f2;
    }

    &__day {
      display: block;
      padding: 3px 6px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
