.SideBar {
  width: 230px;
  position: sticky;
  top: 80px;

  @media (max-width: 600px) {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
  }

  &_wrapper {
    background: var(--primary-background-color);
    border-top: 1px solid #C1C1C1;

    @media (max-width: 600px) {
      margin: 0 0;
      max-height: 0rem;
      overflow-x: hidden;
      transition: max-height 0.3s linear;
    }

    &__open {
      max-height: 30rem;
    }
  }

  &_header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 15px;

    &__title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      color: var(--dark-text-color);
    }

    &__total {
      font-size: 14px;
      font-weight: 700;
      color: var(--primary-color);
    }
  }

  &_body {
    padding: 15px;
    color: #919191;
    font-weight: 700;
    font-size: 16px;
  }

  &_footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: 0 0 20px;
    @media (max-width: 600px) {
      margin: 0 0;
    }
  }

}
