@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

.Button {
  @include button-text;
  padding: $base-padding 50px;
  display: flex;
  border-radius: $base-border-radius;
  outline: none;
  justify-content: center;

  cursor: pointer;

  &_default {
    color: var(--primary-text-color);
    background-color: var(--default-button-color);
    border: 2px solid var(--default-button-color);
  }

  &_primary {
    color: var(--primary-text-color);
    background-color: var(--primary-button-color);
    border: 2px solid var(--primary-button-color);
  }

  &_secondary {
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
  }

  &_outline {
    color: var(--dark-color);
    background-color: var(--primary-background-color);
    border: 2px solid var(--secondary-color);
  }

  &_block {
    width: 100%;
  }

  &_disabled {
    color: var(--primary-text-color);
    background-color: var(--default-button-color);
    border: 2px solid var(--default-button-color);
    cursor: not-allowed;
  }
}
