@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

.BoundBox {
  background: var(--primary-background-color);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: $base-border-radius-small;

  &_header {
    background: var(--secondary-background-color);
    padding: 10px $base-padding;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;

    &_direction {
      &__title {
        @include header-text-large;
        margin: 10px auto;
      }
    }

    &_info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &__title {
        @include header-text-extra-large;
        margin: 10px auto;

        @media (max-width: $base-mobile-viewport) {
          display: none;
        }

        &__mobile {
          display: none;
          @media (max-width: $base-mobile-viewport) {
            display: block;
          }
        }

      }

      &__arrow path {
        fill: var(--primary-color);
      }
    }
  }

  &_navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
  }

  &_previousdate,
  &_nextdate {
    flex: 1;
    padding: $base-padding $base-padding;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    border: none;
    background-color: var(--primary-background-color);
    cursor: pointer;
  }

  &_previousdate {
    justify-content: flex-start;
  }

  &_nextdate {
    justify-content: flex-end;
  }

  &_selecteddate {
    flex: 1;
    padding: $base-padding $base-padding;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    @media (max-width: $base-mobile-viewport) {
      font-size: 14px;
    }
  }
}

.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 40px 40px;
  @media (max-width: $base-mobile-viewport) {
    flex-direction: column;
  }
}

.Option {
  &_noresult {
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  &_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }

    @media (max-width: $base-mobile-viewport) {
      flex-direction: column;
    }
  }

  &_metadata {
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;

    @media (max-width: $base-mobile-viewport) {
      width: 100%;
    }
  }

  &_item {
    flex: 1;
    padding: $base-padding-2x $base-padding-2x $base-padding-2x;
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (max-width: $base-mobile-viewport) {
      width: 100%;
    }

    &__label {
      @include label-text;
      margin-bottom: 10px;
    }

    &__firstchild {
      padding: 10px $base-padding-2x $base-padding-2x;
    }

    &:nth-child(2n+1) {
      background: var(--secondary-background-color);
    }
  }
}
