.BoundBox {
  background: #FFFFFF;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  &_header {
    background: #F2F2F2;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;

    &_direction {
      &__title {
        color: #919191;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        margin: 10px auto;

      }
    }

    &_info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color: #06038D;

      &__title {
        font-size: 22px;
        text-transform: capitalize;
        margin: 10px auto;

        @media (max-width: 600px) {
          display: none;
        }

        &__mobile {
          display: none;
          @media (max-width: 600px) {
            display: block;
          }
        }

      }

      &__arrow path {
        fill: #06038D;
      }
    }
  }

  &_container {

  }

  &_navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
  }

  &_previousdate,
  &_nextdate {
    flex: 1;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    color: #919191;
    border: none;
    background-color: var(--primary-background-color);
    cursor: pointer;
  }

  &_previousdate {
    justify-content: flex-start;
  }

  &_nextdate {
    justify-content: flex-end;
  }

  &_selecteddate {
    flex: 1;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    @media (max-width: 600px) {
      font-size: 14px;
    }
  }
}

.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 40px 40px;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.Option {
  &_noresult {
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  &_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid #E5E5E5;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &_metadata {
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &_item {
    flex: 1;
    padding: 20px 20px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      width: 100%;
    }

    &__label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__firstchild {
      padding: 10px 20px 20px;
    }

    &:nth-child(2n+1) {
      background: #F2F2F2;
    }
  }
}
