@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

.BookingConfirmation {
  &_overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
  }

  &_modal {
    background: var(--primary-background-color);
    border-radius: $base-border-radius;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $base-mobile-viewport) {
      width: 90%;
    }
  }

  &_header {
    background: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base-padding 30px;

    &__title {
      @include header-text;
      margin: 0;
      text-align: center;
    }
  }

  &_body {
    display: flex;

    @media (max-width: $base-mobile-viewport) {
      flex-direction: column;
    }

    &_col {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: $base-padding-2x $base-padding-2x 5px;
    }
  }

  &_footer {
    display: flex;
    justify-content: space-between;

    &__title {
      @include subtitle;
      margin: 0;
    }

    &__amount {
      color: var(--primary-color);
    }

    &__link {
      @include link-text;
      display: flex;
      align-items: center;
      text-align: right;

    }

    &_left,
    &_right {
      flex: 1;
      display: flex;
      padding: $base-padding-2x $base-padding-2x;
    }

    &_left {
      justify-content: flex-start;
    }

    &_right {
      justify-content: flex-end;
    }
  }


}
