@import '../../styles/variables.scss';
@import '../../styles/typography.scss';

.PageTitle {
  &_text {
    @include title;
  }

  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
